extends layouts/frontend

block content
    div
        a(href="/realisations" style="color:brown") Retour aux réalisations
    .ui.middle.aligned.center.aligned.grid
        .six.wide.column
            h1 Ajouter un nouveau meuble aux réalisations

            if errorMessage
                .ui.error.message!= errorMessage
            
            form.form(method="post", action="/")
                label(for="name" style="font-size:1.3em") Quel est le nom de ce meuble ?
                br
                input(type='text', name='name', 'Name')
                br
                br

                label(for="name" style="font-size:1.3em") Donnez une petite description
                br
                textarea(name="description", cols="40", rows="5", 'Description') 
                br
                br

                label(for="name" style="font-size:1.3em") De quel type s'agit-il ?
                br
                select(type='select', name='type', 'Type of Furniture')
                    each val in ['Armoire', 'Etagere']
                        option=val
                br
                br
                label(for="img" style="font-size:1.3em") Sélectionner une image :
                br
                input(type='file', name='img')

                br
                br
                label(for="wood" style="font-size:1.3em") Est-ce que le meuble est composé de bois ?
                br
                select(type='select', name='wood')
                    each val in ['Oui', 'Non']
                        option=val

                br
                br
                label(for="metal" style="font-size:1.3em") Est-ce que le meuble est composé de métal ?
                br
                select(type='select', name='metal')
                    each val in ['Oui', 'Non']
                        option=val

                br
                br
                label(for="plastic" style="font-size:1.3em") Est-ce que le meuble est composé de plastique ?
                br
                select(type='select', name='plastic')
                    each val in ['Oui', 'Non']
                        option=val

                br
                br
                br
                button(type="submit").ui.fluid.black.large.submit.button Ajouter le nouveau meuble